<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modelo2</title>
    <link rel="stylesheet" href="/css/resourcer.css">
    <link href="modelo.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>

<body>
  <img src="Hombre.png" class="Hombre" alt="...">
  <h1 class="tx2">Bienvenido a PayCad</h1>
  <h1 class="tx4">Proveemos la mejor experiencia para transacciones más seguras</h1>

  <div><img src="arriba.png" class="arriba1" alt="..."></div>
  <h1 class="tx5">Envia y recibe dinero</h1>

  <div><img src="arriba.png" class="arriba2" alt="..."></div>
  <h1 class="tx5">Paga tus facturas</h1>

  <div><img src="arriba.png" class="arriba3" alt="..."></div>
  <h1 class="tx5">Explora Ofertas</h1>

  <div class="d-grid gap-2 col-9 mx-auto">
    <button class="btn btn-primary" type="button" onclick="redireccionar()">Siguiente</button>
  </div>

  <script>
    function redireccionar() {window.location.href = "http://127.0.0.1:5500/views/resourser/index3.html";
    }
  </script>
</body>


     
</html>